.containerItensPrincipais {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}

.containerConteudoPrincipal {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.containerListaItens {
	display: inline-flex;
	justify-content: space-between;

}