.containerItensPrincipais {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}

.containerConteudoPrincipal {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.containerListaItens {
	display: inline-flex;
	justify-content: space-between;

}


	/*MOBILE*/
@media(max-width: 768px) {


	.containerItensPrincipais {
		flex-direction: column-reverse;
		align-items: center;
	}



	.containerListaItens {
		display: initial;
		justify-content: space-between;

	}



}
